<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include views/header.html -%}

    {%- include views/banner.html -%}

    {%- include extensions/hashlocate.html -%}

    {%- include extensions/theme-toggle.html -%}

    {%- include extensions/click-to-top.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}

        <!-- Yandex.RTB R-A-11722626-1 -->
<div id="yandex_rtb_R-A-11722626-1"></div>
<script>
window.yaContextCb.push(() => {
    Ya.Context.AdvManager.render({
        "blockId": "R-A-11722626-1",
        "renderTo": "yandex_rtb_R-A-11722626-1"
    })
})
</script>
      </div>
    </main>

    {%- include views/footer.html -%}

  </body>
</html>
